body {
  background: url("../images/background/background.jpg");
}

main {
  margin-bottom: 2%;
}

h1 {
  text-align: center;
  margin-top: 2%;
  font-family: "STJEDISE";
  src: url('STJEDISE.TTF');
  color: #FFE436;
}

h2 {
  margin-top: 10%;
  text-align: center;
  color: #FFE436;
}

h3 {
  text-align: center;
  color: #FFE436;
}

p {
  text-align: center;
  color: white;
}

.navbar-nav {
  margin-right: 5%;
}

.img-fluid {
  width: 10%;
  margin-right: 4%;
}

ul {
  text-align: center;
}

li {
  list-style-type: none;
}

.imgforce {
  border-width: 4px;
  border-style: solid;
  border-color: blue;
}

.imgobscur {
  border-width: 4px;
  border-style: solid;
  border-color: red;
}

.back-to-top {
  position: fixed;
  bottom: 25px;
  right: 25px;
  display: none;
}

@media screen and (min-width: 992px) {
  .navbar .nav-item .dropdown-menu {
    display: none;
  }

  .navbar .nav-item:hover .nav-link {
    color: #fff;
  }

  .navbar .nav-item:hover .dropdown-menu {
    display: block;
  }

  .navbar .nav-item .dropdown-menu {
    margin-top: 0;
  }
}

@font-face {
  font-family: "STJEDISE";
  src: url('STJEDISE.TTF');
}
